/**
  * START CONTENT *
**/

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0px;
  padding: 32px 32px 0px;
  height: 1066px;
}

.content__title {
  color: var(--color-shade-2);
  font-size: 20px;
  font-weight: 500;
}

.content__grid {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(200px, 340px));
  width: 100%;
  padding: 32px 0px;
  gap: 24px;
}

/**
  * END CONTENT *
**/